@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;700;900&display=swap");

.head-box {
  padding-top: 250px;
  padding-bottom: 200px;
}
.head-title {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  margin: 0 0 40px 0;
}
.head-desc {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #ccc;
}
.mini-desc {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

/* Top-mid Section */
.mid {
  background-color: #eee;
}

.btn-smol {
  color: #fff;
  background-color: #55c2d8;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  line-height: 26px;
  padding: 3px 16px;
}

.btn-big {
  font-size: 70px;
  padding-left: 20px;
  margin-bottom: 50px;
  color: #fff;
  background-color: #55c2d8;
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 50%;
}

/* Bottom-mid Section */
.bot {
  color: white;
  padding-bottom: 45px;
  margin-bottom: 0;
  background-image: url(assets/bg-footer.png), url(assets/bg-footer-add.png);
  background-repeat: no-repeat;
  text-align: center;
}

.bot-logo {
  display: flex;
  margin-bottom: 20px;
  color: #fff;

}

.bot-logo img{
  padding-right: 5px;
}