@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
body {
  width: 1200px;
  margin: auto;
  padding: 0;
}
header {
  width: 100%;
  background: url(assets/bg-header.png) no-repeat;
  background-size: 100%;
  color: white;
  text-align: center;
}
section {
  padding: 100px 100px;
  text-align: center;
  margin: 0;
}
footer{
  color: rgb(255, 255, 255, .4);
  background-color: #464547;
  padding: 20px 0 20px 140px;
  font-family: "Source Sans Pro", sans-serif;
}

footer a{
  color: rgb(255, 255, 255, .4);
  text-decoration: none;
}